/auto-save-list/
/tree-sitter/*
/elpa/
recentf
/eshell/
/server/
/transient/
/elpa/
/tree-sitter/
/lisp/*.elc
/lisp/*#*
/url/*
/other/*
/eln-cache/
.org-id-locations
bookmarks
history
places
custom.el
projects
nov-places
.DS_Store
.bookmarks.~undo-tree~
